main.project(role="main")
  .project__block.project__block--header
    h2.project__headline Scaling design at Eventene
    h5 Nov 2018 ~ Jul 2021
  .project__cover
    img.has-no-shadow(src="../assets/image-unicorn.png", alt="Eventene Project Cover")
  .project__block
    h3.project__subheading Goals
    ul.project__list
      li
        p.project__text Improve the connection between the brand and products.
      li
        p.project__text Create a nice handoff among design and development.
      li
        p.project__text Organize and document every single UI element.
  .project__block
    h3.project__subheading Context
    p.project__text
      a(href="https://eventene.com" target="_blank" rel="noopener" aria-label="Eventene Home Page") Eventene
      | #{''} is an event management system for creating, organizing and running events in a single platform.
    p.project__text Founded in 2016, Eventene released its first MVP (v1.0) product in 2018, and hired me to redesign the entire system for a 2.0 release.
    p.project__text As a fully remote team, we held regularly scheduled online video meetings to discuss design ideas and development goals each week.
    p.project__text As a small company, it was possible to integrate customer feedback into our product design plans.
  img.project__image(src="../assets/eventene/project-eventene-context.png", alt="Eventene CEO and Matheus in a meeting")
  .project__block
    h3.project__subheading The Problem
    p.project__text The Eventene 1.x product was amazing. It had many useful features but some of them were hard to discover.
    p.project__text At the time, the company was not familiar with modern Design Principles. I therefore spent many months reviewing and completely redesigning the product.
    p.project__text To start, I updated their product branding, bringing modern color shades and applying gradients to stand out a bit more and giving a fresh look to the product.
  .project__frame
    img.has-no-shadow(src="../assets/eventene/project-eventene-logos.png", alt="Old and New Eventene Logos")
    legend.project__legend Refreshed logo
  .project__frame
    img.has-no-shadow(src="../assets/eventene/project-eventene-colors.png", alt="Updated Eventene Colors")
    legend.project__legend Updated color scheme
  .project__block
    h3.project__subheading Foundation
    p.project__text Each Eventene application received its own internal codename based upon an animal theme, such as "Bobcat" for the main app, signifying strength and robustness.
    p.project__text Their Mobile App was codenamed "Falcon" because it’s smaller and faster.
    p.project__text The design elements library used "Unicorn" as a reminder of a legendary creature and its relationship to fantasy.
    p.project__text
      | To achieve balance and unity, we utilized #{''}
      a(href="https://atomicdesign.bradfrost.com/table-of-contents/" target="_blank" rel="noopener" aria-label="Atomic Design Ebook") Atomic Design
      | #{''} methodology, which consisted of cataloging the UI components from basic to complex, analogous to hierarchical elements in chemistry.
  .project__frame
    img(src="../assets/eventene/project-eventene-atomic-default.png", alt="Default Atomic Design Model")
    legend.project__legend Brad Frost’s Atomic Design Model
  .project__block
    p.project__text In our model we had a slight difference through the steps, keeping the pages as templates so wireframes are only visible for designers, that way we could remove the friction for developers.
    p.project__text We also created a closer language by using the unicorn paradigm so the team can find which piece of the animal is missing associating that with the UI component.
  .project__frame
    img.has-no-shadow(src="../assets/eventene/project-eventene-atomic-unicorn.png", alt="Unicorn's Atomic Design Model")
    legend.project__legend Unicorn’s Atomic Design Model
  .project__block
    p.project__text Having that in mind we decided to use Figma to create the basic variation of each atomic level and then document and specify them in a static page.
    p.project__text Another reason to do that is to see all components behaving properly, since design tools are limited and not 100% responsive.
  .project__frame
    img(src="../assets/eventene/project-eventene-figma.png", alt="Design Atoms on Figma")
    legend.project__legend Design atoms on Figma
  .project__block
    p.project__text
      | To start organizing the pieces in a web page our main references were #{''}
      a(href="https://patternlab.io/" target="_blank" rel="noopener" aria-label="Pattern Lab Home Page") Pattern Lab
      | #{''} and #{''}
      a(href="https://material.io/" target="_blank" rel="noopener" aria-label="Material Home Page") Material Design
      | . We liked the way to demo and organize components, although we missed the ability to copy and paste the styles / markup and see them running afterwards, which is handy for developers.
  .project__frame
    img.has-no-shadow(src="../assets/eventene/project-eventene-references.png", alt="Design References")
    legend.project__legend Some of our references
  .project__block
    p.project__text So we created a Github page centralizing and documenting all the UI elements, assets and patterns.
    p.project__text It’s also a static staging version of the main product so we can test before importing in real data products.
  .project__frame
    img(src="../assets/eventene/project-eventene-home.png", alt="Unicorn Home Page")
    legend.project__legend Unicorn Home Page
  .project__block
    p.project__text To prioritize the components, we essentialy based on most used pages according to analytics. So we broke down the basic elements from each one and started to reuse over others.
    p.project__text When viewing the details we tried to combine a flexible layout with an easy navigation, the component details, notes, code and demo.
  .project__frame
    img(src="../assets/eventene/project-eventene-details-page.png", alt="Unicorn Details Page")
    legend.project__legend Unicorn Details Page
  .project__block
    p.project__text Opening in a new tab gives you the ability to have a full experience about the component behavior, its responsiveness, toggle between light and dark themes and if it’s a template you can even navigate through the pages statically.
  .project__frame
    img.has-no-shadow(src="../assets/eventene/project-eventene-light-dark.png", alt="Light & Dark Dashboard Templates")
    legend.project__legend Light & Dark Dashboard Templates
  .project__block
    h3.project__subheading Maintainability
    p.project__text When it comes to code we know how hard it is to keep things organized as it scales so we had to apply a few methodologies to not be overwhelmed and run in sync with the designs.
    p.project__text
      | To organize files and folders we used #{''}
      a(href="https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/" target="_blank" rel="noopener" aria-label="ITCSS Article") ITCSS
      | #{''}. Basically you draw an inverted triangle and slice it by folders as layers from low-specificity selectors to more specific ones and from generic styles to explicit ones.
  .project__frame
    img(src="../assets/eventene/project-eventene-itcss.png", alt="Inverted Triangle Methodology")
    legend.project__legend ITCSS Folder Structure and Selectors Usage
  .project__block
    p.project__text
      | Regarding the class names usage, we adopted #{''}
      a(href="http://getbem.com/introduction/" target="_blank" rel="noopener" aria-label="BEM Documentation") BEM
      | #{''} methodology and combining to #{''}
      a(href="https://sass-lang.com/" target="_blank" rel="noopener" aria-label="Sass Documentation") Sass
      | #{''} preprocessor it worked like a charm to find nested rules quickly.
  .project__frame
    img(src="../assets/eventene/project-eventene-bem.png", alt="Block Element Modifier Methodology")
    legend.project__legend BEM Naming Convention
  .project__block
    p.project__text To use these styles across all the products we created a Github package and each new version we simply add a tag number. So if for some reason a page breaks that can be quickly rolled back to the previous version.
  .project__frame
    img(src="../assets/eventene/project-eventene-github.png", alt="Github's Tag System")
    legend.project__legend Unicorn Releases
  .project__block
    h3.project__subheading Outcomes
    ul.project__list
      li
        p.project__text The team was able to work faster and more efficiently by using the new Design Principles and Unicorn design elements.
      li
        p.project__text Shorter learning curves for new developers following the guidelines.
      li
        p.project__text Eliminated inconsistent assets and elements throughout the product.
  != partial("_projects")
  != partial("_back")
!= partial("templates/footer/_footer")
