section#work.work
  .work__info
    .work__text
      h2.work__title Work
    ul.work__nav
      each work, slug in public.templates.work._data
        if work.show == true
          li.work__item
            a.work__card(href="#{ work.url }" target="#{ work.target }" rel="noopener" aria-label="#{ work.title }")
              .work__details
                span.work__headline
                  | #{ work.title }
                small.work__legend(class="#{ work.case == false ? 'work__legend--soon' : '' }" aria-hidden="true") #{ work.desc }
              .work__preview
                picture.work__picture
                  source.work__image(srcset="../../assets/image-#{ slug }.webp", type="image/webp")
                  source.work__image(srcset="../../assets/image-#{ slug }.png", type="image/png")
                  img.work__image(src="../../assets/image-#{ slug }.png", alt="#{ work.legend }", width="#{ work.width }", height="#{ work.height }", loading="auto")
